@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: var(--color_heading);
}
:root {
  --main_color: #4f8cff;
  --p_color: #5a6273;
  --bg_color: #eaf1fb;
  --white_color: #ffffff;
  --color_heading: #22304a;
  --border_color: #c7d0e1;
  --sale_color: #ff4f81;
}
body {
  padding-top: 180px;
}
span {
  color: var(--main_color);
}
p {
  color: var(--p_color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_heading);
  font-family: "DM Sans", sans-serif;
}
img {
  width: 100%;
}
input,
select,
button {
  border: none;
  outline: none;
}
.btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn {
  padding: 10px 18px;
  text-transform: capitalize;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--main_color);
  color: var(--white_color);
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease;
}
.btn:hover {
  scale: 1.1;
}
.btn i {
  color: var(--white_color);
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1350px;
}
/* Header */
header {
  background: var(--white_color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 5px 8px 8px#d1d1d13b;
  z-index: 999;
}
header .top_header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
header .top_header .logo {
  width: 180px;
}
header .top_header .search_form {
  width: 610px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: var(--bg_color);
}
header .top_header .search_form input {
  height: 55px;
  width: 340px;
  padding: 5px 15px 5px 10px;
  background-color: var(--bg_color);
}
header .top_header .search_form .select_box {
  position: relative;
}
/* header .top_header .search_form .select_box::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 50%;
  background: #b9b9b9;
} */
header .top_header .search_form select {
  height: 55px;
  width: 190px;
  background-color: var(--bg_color);
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px;
  margin-right: 10px;
}
header .top_header .search_form select option {
  font-size: 15px;
}
header .top_header .search_form button {
  height: 55px;
  width: 60px;
  background-color: var(--main_color);
  font-size: 18px;
  cursor: pointer;
}
header .top_header .search_form button i {
  color: var(--white_color);
}

header .top_header .header_icons {
  display: flex;
  gap: 30px;
}
header .top_header .header_icons .icon {
  position: relative;
  cursor: pointer;
}
header .top_header .header_icons .icon i {
  font-size: 24px;
}
header .top_header .header_icons .icon .count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: var(--main_color);
  color: var(--white_color);
  border-radius: 50%;
  font-size: 12px;
}
header .buttom_header {
  border-top: 1px solid var(--border_color);
}
header .buttom_header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .buttom_header nav {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 60px;
}
header .buttom_header .category_nav {
  width: 220px;
  height: 100%;
  position: relative;
}
header .buttom_header .category_nav .category_btn {
  height: 100%;
  width: 100%;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main_color);
  padding: 0 15px;
  cursor: pointer;
}
header .buttom_header .category_nav .category_btn p {
  color: var(--white_color);
  font-size: 15px;
  font-weight: 600px;
}
header .buttom_header .category_nav .category_btn i {
  color: var(--white_color);
}
header .buttom_header .category_nav .category_nav_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white_color);
  border: 1px solid #999;
  border-top: 0;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.3s ease-in-out;
}
header .buttom_header .category_nav .category_nav_list.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .buttom_header .category_nav .category_nav_list a {
  padding: 14px 10px;
  border-bottom: 1px solid var(--border_color);
  font-size: 14px;
}
header .buttom_header .category_nav .category_nav_list a:last-child {
  border-bottom: 0;
}
header .buttom_header .category_nav .category_nav_list a:hover {
  background: #d0d0d0;
}

header .buttom_header .nav_links {
  display: flex;
  gap: 35px;
}
header .buttom_header .nav_links li a {
  color: var(--color_heading);
  transition: 0.3s;
}
header .buttom_header .nav_links li:hover a,
header .buttom_header .nav_links li.active a {
  color: var(--main_color);
}
/* Slider */
.slide {
  position: relative;
}
.slide .container {
  display: flex;
  justify-content: space-between;
}
.slide .banner_2 {
  width: 23%;
  height: 100%;
  object-fit: cover;
}
.slide .banner_2 a {
  height: 100%;
  width: 100%;
}
.slide .container .slide-swp {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
.swiper-slide a {
  display: flex;
  justify-content: center;
  /* width: 100%;
  height: 85%; */
}
.slide .container .slide-swp img {
  text-align: center;
  width: 60%;
}
.swipwer-wrapper {
  height: auto !important;
}
.slide .container .slide-swp .swiper-pagination span {
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: var(--main_color) !important;
  width: 25px !important;
  height: 8px !important;
  border-radius: 30px !important;
}
/* Banners_4 */
.banners_4 {
  margin: 40px 0;
}
.banners_4 .container {
  display: flex;
  justify-content: space-between;
}
.banners_4 .container .box {
  width: 24%;
  background: url(../img/bg_banner3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 10px;
  position: relative;
}
.banners_4 .container .box img {
  width: 50%;
  transition: 0.3s;
}
.banners_4 .container .box:hover img {
  scale: 1.07;
}
.banners_4 .container .box h5 {
  font-size: 16px;
}
.banners_4 .container .box .sale {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 7px 0;
}
.banners_4 .container .box .sale span {
  font-size: 25px;
  font-weight: bold;
}
.banners_4 .container .box h6 {
  font-size: 15px;
  font-weight: bold;
}
.banners_4 .container .box .link_btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}
/* start slide */
.slide {
  margin-bottom: 70px;
}
.top_slide {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--main_color);
}
.top_slide h2 {
  position: relative;
  text-transform: uppercase;
  background: var(--main_color);
  color: var(--white_color);
  font-size: 18px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
}
.top_slide h2::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 9;
  border-left: 20px solid transparent;
  background: #fff;
  left: 0;
  border-bottom: 20px solid #31579d;
}
.top_slide h2 i {
  color: var(--white_color);
}
.slide .container {
  position: relative;
}
.slide .container .mySwiper {
  padding: 10px 0;
}
.slide .container .mySwiper .btn_Swip {
  position: absolute;
  top: 30px;
  right: 0;
  background: var(--bg_color);
  color: var(--color_heading);
  font-weight: bold;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  border: 1px solid var(--border_color);
  display: flex;
}
.slide .container .mySwiper .btn_Swip::after {
  font-size: 12px;
}
.slide .container .mySwiper .btn_Swip.swiper-button-prev {
  left: calc(100% - 80px);
}

/* Product card Style */
.mySwiper {
  overflow: hidden;
}
.product {
  background: #fff;
  padding: 20px 20px;
  box-shadow: 5px 5px 10px #94949428;
  border: 1px solid var(--border_color);
  border-radius: 5px;
  position: relative;
  width: 20%;
}

.product .sale_precent {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  background: #ff4f81;
  color: var(--white_color);
  padding: 4px 10px;
  font-size: 13px;
}
.product .img_product {
  position: relative;
  height: 180px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.product:hover .img_product {
  scale: 1.1;
}
.product .name_product {
  margin: 10px;
  color: var(--color_heading);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  max-height: 3em;
}
.product .name_product a:hover {
  text-decoration: underline;
}
.stars {
  margin-bottom: 10px;
}
.stars i {
  color: var(--main_color);
  font-size: 14px;
}
.price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.price p {
  font-weight: bold;
  color: var(--main_color);
  font-size: 18px;
}
.price .old_price {
  color: var(--p_color);
  text-decoration: line-through;
  font-size: 13px;
  font-weight: normal;
}
.product .icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.product .icons .icon_product {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border_color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.product .icons .icon_product:hover {
  background: var(--main_color);
}
.product .icons .icon_product i {
  font-size: 14px;
  transition: 0.3 ease-in-out;
}
.product .icons .icon_product:hover i {
  color: var(--white_color);
  font-size: 18px;
}
.product .icons .btn_add_to_cart {
  background: var(--main_color);
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white_color);
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--main_color);
}
.product .icons .btn_add_to_cart i {
  color: var(--white_color);
  pointer-events: none;
}
.product .icons .btn_add_to_cart:hover {
  scale: 1.05;
  background: #22304a;
}
.product .icons .btn_add_to_cart.active {
  color: var(--color_heading);
  background: transparent;
  pointer-events: none;
}
.product .icons .btn_add_to_cart.active i {
  color: var(--main_color);
}

/* Banners 2 images */
.banners {
  margin: 50px 0;
}
.banners .banner_boxes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.banners .banner_boxes .box {
  width: 49%;
  transition: 0.3s ease-in-out;
}
.banners .banner_boxes .box:hover {
  scale: 1.03;
}
/* banners 3 images*/
.banners .banner_boxes.banners_3_img .box {
  width: 32%;
  transition: 0.3s ease-in-out;
}
.banners .banner_boxes.banners_3_img .box:hover {
  scale: 1.1;
  margin: 0 20px;
}

/*  */
/* Footer */
footer {
  background: var(--color_heading);
}
footer .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
footer .container .big_row {
  width: 30%;
}
footer .container .big_row .logo_footer {
  width: 180px;
}

footer .container .big_row p {
  width: 90%;
  color: #b1b1b1;
  font-size: 14px;
  line-height: 1.5;
  margin: 15px 0;
}
footer .container .big_row .icons_footer {
  display: flex;
  gap: 10px;
}
footer .container .big_row .icons_footer a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main_color);
  border-radius: 5px;
  position: relative;
  top: 0;
  transition: 0.3s ease-in-out;
}
footer .container .big_row .icons_footer a:hover {
  top: -5px;
}
footer .container .big_row .icons_footer a i {
  color: var(--white_color);
  font-size: 20px;
}
footer .container .row {
  width: 22%;
}
footer .container .row h4 {
  color: var(--white_color);
  font-size: 18px;
  margin-bottom: 20px;
}
footer .container .row .links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .container .row .links a {
  color: var(--p_color);
  font-size: 14px;
  position: relative;
  left: 0;
  transition: 0.3s ease-in-out;
}
footer .container .row .links a:hover {
  left: 8px;
  color: var(--main_color);
}
footer .container .row .links a i {
  color: var(--main_color);
  margin-right: 5px;
  font-size: 14px;
}

footer .bottom_footer {
  background: #1d1f22;
}
footer .bottom_footer .container {
  align-items: center;
  padding: 5px 0;
}
footer .bottom_footer p {
  color: var(--white_color);
}
footer .bottom_footer .payment_img {
  width: 350px;
}

/* Start Cart */

.cart {
  position: fixed;
  top: 0;
  right: -350px;
  bottom: 0;
  z-index: 1000;
  background: var(--white_color);
  border-left: 1px solid var(--border_color);
  width: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
.cart.active {
  right: 0;
}
.cart .top_cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .top_cart .close_cart i {
  cursor: pointer;
  font-size: 35px;
  color: var(--p_color);
}
.cart .top_cart .close_cart i:hover {
  scale: 1.1;
  color: #e51a1a;
}
.cart .top_cart h3 {
  font-size: 18px;
}
.cart .top_cart h3 span {
  color: var(--color_heading);
}
.cart .items_in_cart {
  padding: 20px 0;
  border-block: 1px solid var(--border_color);
  margin-block: 20px;
  height: 100%;
  overflow-y: auto;
}
.cart .items_in_cart .item_cart {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 135px;
  border-bottom: 1px solid var(--border_color);
}
.cart .items_in_cart .item_cart:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.cart .items_in_cart .item_cart img {
  width: 80px;
}
.cart .items_in_cart .item_cart h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cart .items_in_cart .item_cart .delete_item i {
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.cart .items_in_cart .item_cart .delete_item i:hover {
  color: #e51a1a;
}
.cart .items_in_cart .item_cart .quantity_control {
  display: flex;
  align-self: center;
  gap: 5px;
  margin-top: 5px;
}

.cart .items_in_cart .item_cart .quantity_control span {
  font-size: 18px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .items_in_cart .item_cart .quantity_control button {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid var(--border_color);
}
.cart .bottom_cart .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cart .bottom_cart .price_cart_total {
  color: var(--main_color);
  font-size: 20px;
}

.cart .bottom_cart .button_cart {
  display: flex;
  gap: 20px;
}

.cart .bottom_cart .button_cart .btn_cart {
  text-transform: uppercase;
  border: 2px solid var(--main_color);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.cart .bottom_cart .button_cart .trans_bg {
  background: transparent;

  color: var(--color_heading);
}

.open_menu,
.close_menu {
  display: none;
}
/* End Cart */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  Media Query */
@media (max-width: 1350px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  header .top_header .container {
    flex-wrap: wrap;
  }
  header .top_header .search_form {
    order: 3;
    width: 80%;
    margin: 20px auto 0;
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
  }
  header .top_header .logo {
    width: 140px;
  }
  header .top_header .search_form .select_box select {
    width: auto;
  }
  header .top_header .search_form input {
    width: calc(100% - 200px);
    transform: translate(275px, -57.5px);
  }
  header .top_header .search_form button {
    transform: translate(275px, -57px);
  }
  header .buttom_header .nav_links {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.805);
    top: 0;
    left: -400px;
    bottom: 0;
    width: 400px;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    border-right: 1px solid #b5b5b596;
  }
  header .buttom_header .nav_links.active {
    left: 0px;
  }
  header .buttom_header .nav_links li {
    font-size: 18px;
    height: auto;
  }
  .close_menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
  }
  .open_menu {
    display: block;
    font-size: 25px;
  }
  .open_menu i {
    color: var(--main_color);
    border: 1px solid var(--main_color);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
  }

  header .buttom_header .category_nav {
    width: auto;
  }
  header .buttom_header .category_nav .category_btn p {
    font-size: 13px;
    margin: 0 10px;
  }

  header .buttom_header nav {
    gap: 20px;
  }
}
@media (max-width: 800px) {
  header .top_header .search_form .select_box select {
    width: 400px;
  }
  header .top_header .search_form .select_box select {
    transform: translateX(-50px);
  }
  header .top_header .search_form input {
    width: calc(100% - 80px);
    transform: translate(180px, -57.5px);
  }
  header .top_header .search_form button {
    transform: translate(10px, -57px);
  }
}

@media (max-width: 650px) {
  header .top_header .search_form .select_box select {
    width: 400px;
  }
  header .top_header .search_form .select_box select {
    transform: translateX(-50px);
  }
  header .top_header .search_form input {
    width: calc(100% - 80px);
    transform: translate(100px, -57.5px);
  }
  header .top_header .search_form button {
    transform: translate(10px, -57px);
  }
}
